###############################################################################
# NPMIGNORE FOR mocha-pretty-bunyan
###############################################################################

# Things `npm pack` should explicitly ignore

.editorconfig
.gitignore
.grenrc
.npmignore
.nvmrc
install-devtools.sh

###############################################################################
